*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212121;
}
label{
    position: relative;
    width:150px;
    height:75px;
    background-color: #353535;
    border-radius: 10px;
    cursor: pointer;
}
label input{
    appearance: none; 
}
label span{
    position:absolute;
    width:75px;
    height:75px;
    left:0;
    top:0;
    background-color: #212121;
    border:5px solid #353535;
    border-radius: 10px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

}
label span i{
    color:#fff;
    font-size: 1.7rem;
}
label input:checked~span{
    left:75px;
}
label input:checked~span i{
    filter:drop-shadow(0 0 5px rgb(233, 8, 8)) drop-shadow(0 0 10px #fff) drop-shadow(0 0 15px #fff)
}

